{
  "presets": ["env", "react"],
  "plugins": [
    "es6-promise",
    "transform-class-properties",
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ],
    [
      "module-resolver",
      {
        "root": [
          "./src/**"
        ],
        "extensions": [".js", ".jsx"]
      }
    ]
  ]
}
