{
  "presets": [
    "react",
    ["env", { "useBuiltIns": true, "modules": false }],
    "stage-2"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "src": "./src",
          "lib": "./src/lib",
          "services": "./src/services",
          "plugins": "./src/plugins"
        },
        "extensions": [".js", ".jsx"]
      }
    ]
  ]
}
